@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*headers */

.navbar li .user-name {
    font-weight: bold;
    color: #D67E02;
    /* Otros estilos */
}
.back{
    padding: 40px 0;
    background-color: #000;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}
.btn-3 {
    height: 25px;
    font-family: 'Poppins', sans-serif;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
.menu .navbar .text {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-left: -20px; /* Ajusta este valor según necesites */
}

.menu .navbar ul li a:hover {
    color: #D67E02;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}

/*generales*/
img {
    border-radius: 5px;
}
form {
    display: flex;
    align-items: center;
}
input {
    width: 450px;
    padding: 15px;
    border: 0;
    outline: none;
    margin-right: 10px;
}
h2 {
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #101010;
}
p {
    font-size: 16px;
    color: black;
    margin-bottom: 25px;
}
.btn-1 {
    display: inline-block;
    padding: 13px 35px;
    background-color: #D67E02;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}

/*footer*/
.footer {
    background-color: #000;
    padding: 80px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;

}
.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #D67E02;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li img {
    width: 80px;
}
.footer-links ul li h3 {
    color: #FFFFFF;
}
.footer-links ul li p {
    color: #BBBBBB;
}
.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #FFFFFF;
    padding: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}
.social-link a:hover{
    background-color: #858585;
}

/*responsive styles */
@media(max-width: 991px) {
    body{
        padding: 30px;
    }
    form{ 
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;

    }
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .back {
        padding: 40px 0;
   }
   .menu .navbar {
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        background-color: white;
        display: none;
   }
   .menu .navbar ul li {
        width: 100%;
   }
   #menu:checked .navbar {
        display: initial;
   }
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}