<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='/img/leben.jpg') }}">

        <!--conexion con stilos css-->
        <script src="{{ url_for('static', filename='/js/validacionCO.js') }}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </head>
    <body>

        <!--menu header-->
        <header>
            <div class="back">
                <div class="menu container">
                    <a href="{{ url_for ('index')}}" class="logo"><img
                            src="{{ url_for('static', filename='/img/leben.jpg') }}" alt=""></a>
                    <nav class="navbar">
                        <ul>
                            <li><a href="{{ url_for ('index')}}">Inicio</a></li>
                            <li><a href="{{ url_for ('productos')}}">Productos</a></li>
                            <li><a href="{{ url_for ('contacto')}}">contacto</a></li>
                            <li><a href="{{ url_for ('nosotros')}}">Nosotros</a></li>
                            <li><a href="{{ url_for ('inicioSesion')}}"><i class="fa-solid fa-user"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <!--titulo del formulario-->
        <div class="title">
            <h2>Recupearar Contraseña</h2>
        </div>

        <!--formulario de recuperar contraseña-->
        <section class="login container">
            <form method="get" id="form">
                <div class="form-contraseña">
                    <h6>Ingrese su correo para poder recupearar la contraseña</h6>
                    <label for="email">Correo</label>
                    <input class="controls" type="email" name="correo" id="email" placeholder="Correo">
                    <button type="submit" class="btn-2">Enviar</button>
                    <p><a href="{{ url_for ('inicioSesion')}}">Iniciar Secion</a></p>
                    <p><a href="{{ url_for ('registrar')}}">Registrarse</a></p>
                    <p class="warnings" id="warnings"></p>
                </div> 
            </form>
        </section>

        <!--menu footer-->
        <footer class="footer">
            <div class="container">
                <div class="footer-row">
                    <div class="footer-links">
                        <ul>
                            <li><a href="{{ url_for ('index')}}"><img
                                        src="{{ url_for('static', filename='/img/leben.jpg') }}" alt="logo"></a></li>
                            <li>
                                <h3>Acerca de Leben</h3>
                            </li>
                            <li>
                                <p>Desde el 2016 mostrando el talento colombiano en el diseño de ropa y accesorios</p>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h4>Menu</h4>
                        <ul>
                            <li><a href="{{ url_for ('index')}}">Inicio</a></li>
                            <li><a href="{{ url_for ('productos')}}">Productos</a></li>
                            <li><a href="{{ url_for ('contacto')}}">contacto</a></li>
                            <li><a href="{{ url_for ('nosotros')}}">Nosotros</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h4>Distribuidores</h4>
                        <ul>
                            <li><a href="https://www.instagram.com/tejistarco/">Tejistar</a></li>
                            <li><a href="https://www.instagram.com/sativatattoo_/">Satica Tattoo Studio</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h4>Redes</h4>
                        <div class="social-link">
                            <a href="https://www.facebook.com/LebenLBN"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/leben_brand/"><i class="fab fa-instagram"></i></a>
                            <a
                                href="https://api.whatsapp.com/send/?phone=573105267491&text=Me+interesa+un+producto+LEBEN+-+hecho+en+Colombia+leben.com.co&type=phone_number&app_absent=0"><i
                                    class="fab fa-whatsapp"></i></a>
                            <a href="https://www.youtube.com/c/LebenTV/videos"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>  
        </footer>
    </body>
</html>