<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nosotros</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='/img/leben.jpg') }}">

    <!--conexion con stilos css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nosotros.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>    
</head>
<body>

    <!--menu header-->
    <header>
        <div class="back">
            <div class="menu container">
                <a href="{{ url_for ('index')}}" class="logo"><img src="{{ url_for('static', filename='/img/leben.jpg') }}" alt=""></a>
                <nav class="navbar">
                    <ul>
                        <li><a href="{{ url_for ('index')}}">Inicio</a></li>
                        <li><a href="{{ url_for ('productos')}}">Productos</a></li>
                        <li><a href="{{ url_for ('contacto')}}">contacto</a></li>
                        <li><a href="{{ url_for ('nosotros')}}">Nosotros</a></li>
                        <li><a href="{{ url_for ('inicioSesion')}}"><i class="fa-solid fa-user"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!--lo que hacemos y acerca de leben-->
    <section class="about container" >
        <div class="about-img">
            <img src="{{ url_for('static', filename='/img/Carusel/2.jpg') }}" alt="">
        </div>
        <div class="about-text">
            <h2>Lo que hacemos</h2>
            <p>
                <h4>   
                    Somos fabricantes colombianos con la misión y sueño de representar nuestro país, con calidad y diseño en cualquier parte del mundo.
                    Está vuelta es 100% colombiana mijo!
                </h4>
            </p>
            <h2>Acerca de Leben</h2>
            <p>
                <h4>
                    Desde el 2016 mostrando el talento colombiano en el diseño de ropa y accesorios
                </h4>    
            </p>
        </div>
    </section>

    <!--que es leben, mision y vision-->
    <section class="info container">
        <div class="desp-info">
            <h2>¿Que es Leben?</h2>
            <p>
                <h4>
                    LEBEN es un emprendimiento colombiano que lleva 6 años de fundado, al principio empezamos realizadno estampados poco a poco se nos han presentado la oportunidad de ir expandiendo el negocio y ir agregando nuevos productos.
                </h4>
                <h4>
                    LEBEN ha estudiado y conoce las necesidades que tiene un raider de bmx por esta razon nos enfocamos en que todos nuestros productos cumplan con estas necesidades.
                </h4>
            </p>
        </div>
        <div class="info-img">
            <img src="{{ url_for('static', filename='/img/Carusel/4.jpg') }}" alt="">
        </div>
        <div class="mision container">
            <div class="mision-conte">
                <h2>misión</h2>
            </div>
            <div class="mision-conte">
                <p>
                    <h4>
                        La mision que se tiene en LEBEN es dar a conocer lo que puede hacer la industria colombiana, empezando a expandirse por todo Bogota pra despues hacerlo por Colombia y el mundo. 
                    </h4>
                </p>
            </div>
        </div>
        <div class="vision container">
            <div class="vision-conte">
                <p>
                    <h4>
                        En LEBEN la vision que se tiene es poder ser una des la principales marcas para la practica de BMX en Colombia y el mundo.
                    </h4>
                </p>
            </div>
            <div class="mision-conte">    
                <h2>visión</h2>
            </div>
        </div>
    </section>

    <!--titulo team leben-->
    <div class="team-emca">
        <h2>team leben</h2>
        <p>
            <h4>
                LEBEN encontro la forma de promover sus productos apoyando artistas y deportistas, aca puedes ver quienes forman parte del team LEBEN 
            </h4>
        </p>
    </div>

    <!--team leben-->
    <section class="Team container">
            <div class="team-content">
                <div class="team-conte">
                    <h3>BMX</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/santi.jpg') }}" alt="">
                    </div>
                    <h3>Santiago Rodriguez</h3>
                    <div class="team-desp">
                        <p class="desp">Con tan solo 17 años esta joven promesa del bmx esta dando pelea por ser uno de los principales referentes del deporte en Colombia, con varios logros y trucos de mucha técnica y dificultad Santi deja ver por qué es parte del team.</p>
                    </div>
                </div>
                <div class="team-conte">
                    <h3>BMX</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/kadmel.jpg') }}" alt="">
                    </div>
                    <h3>Kadmel Puentes</h3>
                    <div class="team-desp">
                        <p class="desp">Rider bmx de la ciudad de Bogotá, con más de 15 años de experiencia y con un gran talento en calle y el uso de cajones, llevando siempre a otro nivel el uso de los pegs y trucos al opposite que son su gran fortaleza.</p>
                    </div>
                </div>
                <div class="team-conte">
                    <h3>BMX</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/andres-monkey.jpg') }}" alt="">
                    </div>
                    <h3>Andres Buitagro “MONKEY”</h3>
                    <div class="team-desp">
                        <p class="desp">Del parche de Villas de granada este Rider con varios logros en su carrera profesional, con gran talento para el vuelo y los trucos que requieren de un tornillo por fuera, lo hacen un biker con una gran gama de trucos desbloqueados y que pocos los han hechos.</p>
                    </div>
                </div>
                <div class="team-conte">
                    <h3>BMX</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/medrano.jpg') }}" alt="">
                    </div>
                    <h3>JJ Medrano</h3>
                    <div class="team-desp">
                        <p class="desp">La costa colombiana está llena de lugares únicos y riders como Medrano que están en el top nacional de bmx por su destreza y trucos de mucha técnica y control en los rieles y la Street, ganador de varios premios nacionales.</p>
                    </div>
                </div>
                <div class="team-conte">
                    <h3>BMX</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/danilo.jpg') }}" alt="">
                    </div>
                    <h3>Danilo Osorio</h3>
                    <div class="team-desp">
                        <p class="desp">Cuando este parcero ve un vacío alto o una baranda, no hay quien le gane en locura, de la ciudad de Bogotá y con un estilo único Danilo nos deja ver por que esta patrocinado por nosotros.</p>
                    </div>
                </div>
                <div class="team-conte">
                    <h3>BMX</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/calao.jpg') }}" alt="">
                    </div>
                    <h3>Andres "EL CALAO"</h3>
                    <div class="team-desp">
                        <p class="desp">El bmx no es suficiente para este Rider que se dedica a romper reglas y se convirtió en icono del FGFS llevando a otro nivel los trucos y el deporte y su nombre a otros sitios del país, desde Bogotá para el mundo, El cálao.</p>
                    </div>
                </div>
                <div class="team-conte">
                    <h3>SKATE</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/luisa.jpg') }}" alt="">
                    </div>
                    <h3>Luisa Leal</h3>
                    <div class="team-desp">
                        <p class="desp">Skate de profesión y de vida, esta chica hace en su tabla lo que quiere, con varios campeonatos ganados a nivel nacional y con mucho por aun demostrar, esta Rider de Sopo es inspiración e icono de muchas mujeres deportistas.</p>
                    </div>
                </div>
                <div class="team-conte">
                    <h3>TATTO</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/eskobar.jpg') }}" alt="">
                    </div>
                    <h3>Oscar Eskobar</h3>
                    <div class="team-desp">
                        <p class="desp">Tatuador y cantante, este artista de varios elementos ha hecho de su vida el arte desde niño, con gran campo en el tattoo y varios títulos que lo respaldan, este joven Bogotano es gran referente de la disciplina y la práctica.</p>
                    </div>
                </div>
                <div class="team-conte">
                    <h3>MUSICA</h3>
                    <div class="team-img">
                        <img src="{{ url_for('static', filename='/img/TEAM/joes.jpg') }}" alt="">
                    </div>
                    <h3>Joes</h3>
                    <div class="team-desp">
                        <p class="desp">Cantante desde hace mas de 15 años, este Bogotano hace parte de la escena del Rap, siendo uno de los iconos más importantes del Rap, con un estilo único ha hecho del Slam un sello en su música y en la cultura urbana de Colombia.</p>
                    </div>
                </div>
            </div>
    </section>

    <!--menu footer-->
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <ul>
                        <li><a href="{{ url_for ('index')}}"><img src="{{ url_for('static', filename='/img/leben.jpg') }}" alt="logo"></a></li>
                        <li><h3>Acerca de Leben</h3></li>
                        <li><p>Desde el 2016 mostrando el talento colombiano en el diseño de ropa y accesorios</p></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="{{ url_for ('index')}}">Inicio</a></li>
                        <li><a href="{{ url_for ('productos')}}">Productos</a></li>
                        <li><a href="{{ url_for ('contacto')}}">contacto</a></li>
                        <li><a href="{{ url_for ('nosotros')}}">Nosotros</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Distribuidores</h4>
                    <ul>
                        <li><a href="https://www.instagram.com/tejistarco/">Tejistar</a></li>
                        <li><a href="https://www.instagram.com/sativatattoo_/">Satica Tattoo Studio</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Redes</h4>
                    <div class="social-link">
                        <a href="https://www.facebook.com/LebenLBN"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/leben_brand/"><i class="fab fa-instagram"></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=573105267491&text=Me+interesa+un+producto+LEBEN+-+hecho+en+Colombia+leben.com.co&type=phone_number&app_absent=0"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://www.youtube.com/c/LebenTV/videos"><i class="fab fa-youtube"></i></a>    
                    </div>                            
                </div>    
            </div>   
        </div>   
    </footer>
</body>
</html>